.ButtonContainer{
    display: flex;
    gap: calc(2vh - 5px);
}


.button {
    border: none;
    background-color: rgba(75, 115, 168, 0.8);
    padding: 10px 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1rem;

}

.button:hover{
    background-color: #60a1f7; 

}